documents/Academic-portrait-ai-assistant.workflow.nokb.v1.yml
app:
  description: RAG-enabled Dify workflow assistant for the academic portrait system. Bind one or more Dify knowledge bases in the "知识库检索" node before publishing.
  icon: f75edfb1-52da-44ef-bfb4-88c5fa9f2490
  icon_background: null
  icon_type: image
  mode: workflow
  name: Academic Portrait AI Assistant (RAG v2)
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/tongyi:0.1.34@a3a90f3034b884bb215b8770af24ecd6145cfd5b6ab97f9e40c3143cbe3ccd34
    version: null
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      - .PDF
      - .DOC
      - .DOCX
      - .TXT
      - .MD
      allowed_file_types:
      - image
      - document
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 50
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: 你好，我是项目内 AI 助手（Dify RAG 版）。我会优先检索已绑定知识库，再结合当前页面信息回答教师画像、成果录入、项目推荐、申报准备与系统操作问题。
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions:
    - 我是教师账号，接下来 7 天该如何推进申报准备？
    - 推荐结果里这个项目为什么匹配我？我先补什么成果最有效？
    - 我是管理员，想以自己视角问答，给我一个可执行清单。
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInLoop: false
        sourceType: start
        targetType: knowledge-retrieval
      id: 1774932319466-source-1774934026000-target
      selected: false
      source: '1774932319466'
      sourceHandle: source
      target: '1774934026000'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: knowledge-retrieval
        targetType: llm
      id: 1774934026000-source-1774935048210-target
      selected: false
      source: '1774934026000'
      sourceHandle: source
      target: '1774935048210'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: end
      id: 1774935048210-source-1774935947215-target
      selected: false
      source: '1774935048210'
      sourceHandle: source
      target: '1774935947215'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        selected: false
        title: 用户输入
        type: start
        variables:
        - default: ''
          hint: ''
          label: 问题
          max_length: 4000
          options: []
          placeholder: 例如：我现在在“申报准备”页面，接下来一周该怎么安排？
          required: true
          type: paragraph
          variable: draft
        - default: teacher
          hint: ''
          label: 当前角色
          options:
          - teacher
          - admin
          placeholder: ''
          required: true
          type: select
          variable: current_role
        - default: project-recommendation
          hint: ''
          label: 当前页面
          options:
          - project-recommendation
          - project-preparation
          - portrait-dashboard
          - achievement-center
          - academy-dashboard
          - general
          placeholder: ''
          required: true
          type: select
          variable: current_page
        - default: ''
          hint: 可粘贴当前页面关键信息，例如推荐分、标签、截止时间、你已完成的动作。
          label: 页面上下文（可选）
          max_length: 4000
          options: []
          placeholder: 例如：推荐分 72，标签“主题贴合”，截止 2026-06-30，已收藏未反馈。
          required: false
          type: paragraph
          variable: page_context
        - default: 简洁执行型
          hint: ''
          label: 输出风格
          options:
          - 简洁执行型
          - 详细解释型
          - 清单计划型
          placeholder: ''
          required: true
          type: select
          variable: answer_style
        - default: 简体中文
          hint: ''
          label: 输出语言
          options:
          - 简体中文
          - English
          placeholder: ''
          required: true
          type: select
          variable: language
      height: 300
      id: '1774932319466'
      position:
        x: -146
        y: 341
      positionAbsolute:
        x: -146
        y: 341
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        dataset_ids: []
        desc: 从已绑定的 Dify 知识库中检索与用户问题最相关的制度、系统说明、业务规则和论文写作材料，作为主助手回答依据。
        query_variable_selector:
        - '1774932319466'
        - draft
        retrieval_mode: single
        selected: false
        single_retrieval_config:
          model:
            completion_params: {}
            mode: chat
            name: qwen3.5-plus
            provider: langgenius/tongyi/tongyi
        title: 知识库检索
        type: knowledge-retrieval
      height: 101
      id: '1774934026000'
      position:
        x: 503
        y: 341
      positionAbsolute:
        x: 503
        y: 341
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: true
          variable_selector:
          - '1774934026000'
          - result
        model:
          completion_params:
            temperature: 0.25
          mode: chat
          name: qwen3.5-plus
          provider: langgenius/tongyi/tongyi
        prompt_template:
        - id: main-assistant-system
          role: system
          text: |
            你是“教师科研全景画像与智能评价系统”的项目内 AI 助手。你的回答以 Dify 知识库检索结果为主要依据，结合当前页面上下文给出具体、可执行的建议。

            当前会话参数：
            - 角色：{{#1774932319466.current_role#}}
            - 页面：{{#1774932319466.current_page#}}
            - 输出风格：{{#1774932319466.answer_style#}}
            - 输出语言：{{#1774932319466.language#}}

            用户问题：
            {{#1774932319466.draft#}}

            已检索知识库内容：
            {{#context#}}

            页面上下文（如果有）：
            {{#1774932319466.page_context#}}

            回答规则：
            1. 优先使用“已检索知识库内容”，其次使用“页面上下文”，最后才使用通用系统操作常识。
            2. 如果知识库没有命中直接依据，不要编造制度、字段、项目条件、时间节点或数据来源；可以基于页面上下文给出操作建议，并说明需要补充的最少信息。
            3. 教师账号回答教师侧操作，管理员账号回答管理员侧分析与管理操作；管理员也按“面向自己问答”的口径处理，不要求用户提供其他教师账号。
            4. 涉及政策、申报资格、截止时间、成果认定、评价标准时，以知识库或官方指南原文为准。
            5. 不暴露 API Key、工作流配置、系统内部变量名或后台实现细节。
            6. 输出使用纯文本，不使用 Markdown 表格。
            7. 如果输出语言是 English，则用英文回答；否则用简体中文回答。

            输出结构：
            【结论】
            一句话说明判断或建议。

            【依据与解释】
            说明知识库或页面上下文中支持该结论的关键依据；如果检索结果不足，写明“知识库未检索到直接依据”。

            【可立即执行】
            最多 5 条，按优先级排序，动作要具体。

            【需要补充信息】
            若信息充分写“无”；否则列最多 3 条最关键缺失信息。
        selected: false
        title: 主助手
        type: llm
        vision:
          enabled: false
          configs:
            detail: high
            variable_selector:
            - '1774932319466'
            - draft
      height: 87
      id: '1774935048210'
      position:
        x: 1152
        y: 341
      positionAbsolute:
        x: 1152
        y: 341
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        outputs:
        - value_selector:
          - '1774935048210'
          - text
          value_type: string
          variable: output
        selected: false
        title: 最终输出
        type: end
      height: 88
      id: '1774935947215'
      position:
        x: 1801
        y: 341
      positionAbsolute:
        x: 1801
        y: 341
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    viewport:
      x: -379.591347969376
      y: 38.073593905482
      zoom: 0.85
  rag_pipeline_variables: []
